button{
    margin-top: 25px;
    margin-right: 20px;
    width: 99px;
    border: border-secondary; 
    font-size:14px;
    background-color: lightpink;
    margin-left: 20px;
    margin-right: 300px;
    
  }
  .first{
    margin-left: 1%;
  }

  