username:<input type="text" name="username" [(ngModel)]="loginData.username"> 
{{loginData.username}}
password:<input type="password" name="password" [(ngModel)]="loginData.password">
<button (click)="login()" name="submitButton">Login</button>

<!--
<html>
    <head>
        <title>Login here</title>
    </head>
    <body>
        <form method="POST" action="#">
            <div class="alignment">
                <label name="name">Name</label>
                <input type="text" name="uname" placeholder="your name"><br>
                <label name="password">Password</label>
                <input type="password" name="pswd" placeholder="only 6 digits"><br>
                <input type="button" name="btnsave" value="Login">
            </div>

        </form>
    </body>
</html>

-->