
<!-- <div><p *ngFor="let item of countryList">{{item.name}} | {{item.code}}</p>
	<app-login></app-login></div> -->

<!DOCTYPE html>
<html>
<head>
  <title>Login here</title>
</head>
<body>
  <div class="container-fluid body-main">
  <div class="container">
     <div class="row" style="margin-top: 60px;">
		<div class="col-md-12 col border border-secondary" style="background-color: cadetblue;width: 100%;">
			<app-navbar></app-navbar>
		</div>  
    </div> 
    <div class="row" style="margin-top: 5px; background-image:  url(./src/assets/images/edu.jpg);">
      <div class="col-md-12 col border border-secondary" style="background-color: white;">
        <app-login-form></app-login-form>
      </div>
      
    </div>

   <!--Footer     
	<div class="row" style="margin-top: 5px; position: fixed;width: 100%; margin-bottom: 10px;">
		<div class="col-md-12 col border border-secondary" style="background-color: cadetblue;">
		  <app-bottom></app-bottom>
		</div>
	</div> -->
  </div>
  </div>
</body>
</html>
