<form>
    <div class="form-group row">
      <label for="inputTitle" class="col-sm-4 col-form-label">Title</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputTitle">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputInput" class="col-sm-4 col-form-label">Input</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputInput">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDescription" class="col-sm-4 col-form-label">Desription</label>
      <div class="col-sm-6">
        <textarea class="form-control" id="inputAttribute" ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAttribute" class="col-sm-4 col-form-label">Attribute</label>
      <div class="col-sm-6">
        <select class="form-control" id="inputAttribute">
          <option value="">Select Tak Type</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAddress" class="col-sm-4 col-form-label">Progress</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputAddress">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCompletionTime" class="col-sm-4 col-form-label">Selected Completion time</label>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <input type="date" class="form-control" id="inputCompletionDate">
          </div>
          <div class="col-sm-6">
            <input type="time" class="form-control" id="inputCompletionTime">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputReferenceLink" class="col-sm-4 col-form-label">Reference Link</label>
      <div class="col-sm-6">
        <a href="" class="form-control" style="border: none; color: blue;"><u>clickhere</u></a>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-danger ">Add</button>
      </div>
    </div>
  </form>